/* -- header -- */
.header {
  position: fixed;
  width: 100%;
  height: 102px;
}

.background_white .wrapper {
  background-color: #fff;
}

.header .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.header .header_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: CenturyGothicPro;
  font-size: 28px;
  font-weight: bold;
  color: #3f3f40;
}

.header .header_logo .header_color {
  color: #eb124d;
}

.header .header_nav {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.header .header_nav .nav_item {
  display: inline;
  margin-right: 32px;
  font-family: CenturyGothicPro;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.71px;
  text-align: right;
  color: #d7d8d9;
}

.header .header_nav .nav_item:hover {
  color: #3f3f40;
}

.header .header_nav .nav_sign {
  color: #fa91ae;
}

.header .header_nav .nav_sign:hover {
  color: #eb124d;
}

.content {
  width: 100%;
}

.content .welcome {
  position: relative;
  width: 100%;
  height: 100%;
}

.content .welcome .hero_image {
  position: absolute;
  top: 136px;
  left: 540px;
  transform: translateX(-100%);
  width: 900px;
  height: 884px;
  opacity: 0.2;
}

.license_pos {
  position: relative;
  width: 100%;
  height: 100%;
}

.license {
  position: absolute;
  height: 516px;
  width: 324px;
  border-radius: 8px;
  box-shadow: 0px 6px 32px #0004;
  overflow: hidden;
  background-color: #3f3f40;
  transition: 1s;
}

.lic_pos_1 {
  position: absolute;
  top: 320px;
  right: calc(100% - 500px);
  transform: rotate(5deg);
}

.text_pos {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  top: 230px;
}

.main_text {
  width: 600px;
  height: 144px;
  font-family: SpoqaHanSans;
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -1.88px;
  color: #3f3f40;
}

#who_text {
  color: #eb124d;
}

.input_div {
  margin-top: 32px;
}

.name_input, .age_input {
  font-family: SpoqaHanSans;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  color: #d7d8d9;
  padding-left: 24px;
}

.name_input {
  width: 600px;
  margin-bottom: 20px;
  height: 64px;
  border-radius: 32px;
  border: solid 1px #f0f1f2;
  background-color: #f9fafb;
}

.age_input {
  width: 300px;
  height: 64px;
  border-radius: 32px;
  border: solid 1px #f0f1f2;
  background-color: #f9fafb;
}

::placeholder {
  color: #d7d8d9;
}

#age_sub {
  font-family: SpoqaHanSans;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  margin-left: 24px;
  color: #eb124d;
}

#name {
  position: absolute;
  top: 350px;
  left: 20px;
  width: 100px;
  height: 30px;
  font-family: SpoqaHanSans;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0000;
  border: none;
}

#age {
  position: absolute;
  top: 406px;
  left: 20px;
  right: 20px;
  border: none;
  width: 150px;
  height: 20px;
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3f3f40;
}

#job {
  position: absolute;
  top: 425px;
  left: 22px;
  width: 200px;
  height: 60px;
  background: none;
  border: none;
  font-family: SpoqaHanSans;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  color: #d7d8d9;
}

.graduate {
  font-family: SpoqaHanSans;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  color: #d7d8d9;
  margin-top: 20px;
}

.item {
  text-align: center;
  padding-top: 24px;
  width: 110px;
  height: 50px;
  border-radius: 32px;
  border: solid 1px #f0f1f2;
  background-color: #eb124d;
  display: inline-block;
}

#confirm_btn {
  margin-top: 86px;
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.45px;
  text-align: center;
  color: #ffffff;
  width: 600px;
  height: 64px;
  border-radius: 32px;
  background-color: #eb124d;
}

.slider {
  margin-left: 21px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 560px;
    height: 10px;
    -webkit-appearance: none;
    background-color: #fff;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
    -webkit-appearance: none;
    cursor: pointer;
    background: #FFF;
    box-shadow: -500px 0 0 500px #eb124d;
  }
}
