body {
  display: flex;
  flex-direction: column;
}

/* -- header -- */
.header {
  position: fixed;
  width: 100%;
  height: 102px;
}

.background_white .wrapper {
  background-color: #fff;
}

.header .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.header .header_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: CenturyGothicPro;
  font-size: 28px;
  font-weight: bold;
  color: #3f3f40;
}

.header .header_logo .header_color {
  color: #eb124d;
}

.header .header_nav {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.header .header_nav .nav_item {
  display: inline;
  margin-right: 32px;
  font-family: CenturyGothicPro;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.71px;
  text-align: right;
  color: #d7d8d9;
}

.header .header_nav .nav_item:hover {
  color: #3f3f40;
}

.header .header_nav .nav_sign {
  color: #fa91ae;
}

.header .header_nav .nav_sign:hover {
  color: #eb124d;
}

/* -- main:welcome -- */
.content {
  width: 100%;
}

.content .welcome {
  position: relative;
  width: 100%;
  height: 100%;
}

.content .welcome .hero_image {
  position: fixed;
  top: 136px;
  left: 540px;
  transform: translateX(-100%);
  width: 900px;
  height: 884px;
  object-fit: contain;
  opacity: 0.2;
}

.main {
  position: absolute;
  top: 342px;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}

.main .title {
  font-family: SpoqaHanSans;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: -1.88px;
  color: #3f3f40;
}

.main .title .highlight {
  color: #eb124d;
}

.main .subtext {
  margin: 32px 0 48px 0;
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: -0.47px;
  color: #727273;
}

.main .button {

}

.main .button .btn_bg {
  float: left;
  width: 230px;
  height: 56px;
  margin: 0 24px 0 0;

  color: #fff;
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.45px;
  text-align: center;
  border-radius: 28px;
  background-color: #eb124d;
}

.main .button .btn_join {
  color: #666;
  line-height: 56px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.45px;
  text-align: center;
  background-color: #0000;
}
