@charset "UTF-8";

/* reset height */
html, body {height:100%;}

/* reset margin */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}
body {margin: 0 auto;}

/* reset a link */
a {color: inherit; text-decoration: inherit;}
a:hover {color: inherit;}

/* reset fonts */
body, textarea, select, button, table {font-family: 'century-gothic', sans-serif; color: inherit; font-weight: 700; font-size: 14px; line-height: 1.5;}

/* reset font style */
em,address {font-style: normal;}

/* reset bullet */
ul,li,ol {list-style:none;}

/* reset titles */
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0; font-size: inherit; font-weight: inherit;}

/* reset border */
img,fieldset {border:0 none;}

/* reset button */
button {border: 0;}

/* reset responsive */
video,img {width: 100%;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}
