html, body {
    height: 100%;
    margin: 0px;
    background-color: #f9fafb;
}

h2, h3,pre {
    margin: 0px;
}

#title_container {
    position: relative;
    min-height: 100px;
    background-color: white;
    margin-bottom: 20px;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 700;
}

#main_container {
    display: grid;
    width: 1400px;
    /*수정바람*/
    height: 960px;   
    margin: auto;
    grid-template-columns: 1fr 240px;
}

#topic_container {
    position: relative;
    margin-right: 20px;
    overflow: scroll;
}

#session_container {
    background-color: white;
}

#session_image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border: none;
}

#article_container {
    padding: 48px;
    transform: translateY(-5px);
}

#article_desc {
    height: 150px;
}

#article_title {
    font-size: 48px;
    margin-bottom: 20px;
}

#article_sub_title {
    font-size: 20px;
    color: #727273;
    font-weight: 300;
}

#article_author {
    color: #eb124d;
    font-size: 20px;
    text-align: right;
    font-weight: 900;
}

#session_article > h3, #code_block > pre ,#goal_desc {
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}

#code_block {
    margin-top: 20px;
    background-color: #f9fafb;
}

#code_block pre{
    line-height: 20px;
    color: #727273;
}

#goal_container{
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 20px 0px;
}

#goal_title {
    color: black;
    font-size: 32px;
    font-weight: bold;
}

#link_container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}

.link_item {
    height: 240px;
    padding: 20px;
    background-color: white;
}

.link_item h3 {
    margin: 16px 0px;
}

.link_sort {
    color: red;
    font-size: 12px;
}

.link_name {
    font-size: 24px;
}

.link_desc {
    color: #a4a5a6;
    font-size: 16px;
    line-height: 28px;
}

#start_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 300px;
    height: 80px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #3f3f40;
}

#session_navigation {
    height: auto;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

#session_track,
#session_title,
#session_sub_title,
#session_author,
hr{
    margin-bottom: 20px;
}

#session_track {
    font-size: 16px;
    color: #727273;

}

#session_title {
    font-size: 24px;
    line-height: 32px;
}

#session_sub_title {
    font-size: 16px;
    color: #727273;
    line-height: 24px;
}

#session_author {
    color: #eb124d;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}

#thumb_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.thumb {
    margin: auto;
}


#session_out {
    width: 100%;
    height: 96px;
    color: white;
    font-size: 20px;
    outline: none;
    background-color: #3f3f40;
}

