html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {}

.header {
  text-align: center;
  font-family: CenturyGothicPro;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.94px;
  color: #d7d8d9;
}

.title {
  display: inline-block;
  text-align: center;
}

.menu {
  float: right;
  display: inline-block;;
}

.menu_button {
  background: white;
  border: 0;
  font-family: CenturyGothicPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.71px;
  text-align: right;
  color: #d7d8d9
}

#under {
  font-family: CenturyGothicPro;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.94px;
  color: #eb124d;
}

#stud {
  color: #3f3f40;
}

.container {
  background-color: #f9fafb;
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 35px 20px 20px 20px;
}

.content{
  margin-top: 240px;
  margin-left: 940px;
}

.main_text{
  font-family: SpoqaHanSans;
 font-size: 64px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.13;
 letter-spacing: -1.88px;
 color: #3f3f40;
}

#time{
  color: #eb124d;
}

.sub_text{
  font-family: SpoqaHanSans;
 font-size: 16px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 2;
 letter-spacing: -0.47px;
 color: #727273;
}
